	body {
		font-family: -apple-system, Helvetica, Verdana, Geneva, sans-serif;
		padding:0;
		margin:0;
	}
	.wrap {
		max-width: 900px;
	    margin: auto;
	    padding: 0px 15px;
	}
	h1 {
		font-size:1.5em;
	}
    .footer {
    	width:100%;
		font-size:0.8em;
    }