<!DOCTYPE HTML>
<html lang="en">
<html>
  <head>
    <title>{{ page.title }}</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="{{ page.description }}"/>
<meta name="HandheldFriendly" content="True"/>
<meta name="dcterms.rightsHolder" content="Nathan Jeffery" />
<meta name="dcterms.dateCopyrighted" content="{{ site.time | date: '%Y' }}" />    
<meta name="dcterms.language" content="english" />
<meta property="og:site_name" content="nucleaprengy"/>
<meta property="og:type" content="profile"/>
<meta property="og:title" content="{{ page.title }}"/>
<meta property="og:description" content="{{ page.description }}"/>
<meta property="og:url" content="{{site.url}}/"/>
<meta property="og:image" content="{{site.url}}/assets/img/nathan_drinking_coffee.jpg"/>
<meta property="og:image:width" content="960"/>
<meta property="og:image:height" content="1280"/>
<meta property="article:author" content="https://www.facebook.com/nuclearpengy"/>
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:title" content="{{ page.title }}"/>
<meta name="twitter:description" content="{{ page.description }}"/>
<meta name="twitter:url" content="{{site.url}}/"/>
<meta name="twitter:image" content="{{site.url}}/assets/img/nathan_drinking_coffee.jpg"/>
<meta name="twitter:creator" content="@nuclearpengy"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" type="image/x-icon" href="{{site.url}}/favicon.ico" />
{% feed_meta %}
<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "Person",
    "sameAs": [
"https://nathanjeffery.co",
"https://blackplunger.com/author/nathan",
        "https://www.facebook.com/nuclearpengy",
        "https://twitter.com/nuclearpengy"
    ],
    "name": "Nathan Jeffery",
    "url": "https://nuclearpengy.com/",
    "image": {
        "@type": "ImageObject",
        "url": "{{site.url}}/assets/img/nathan_drinking_coffee.jpg",
        "width": 960,
        "height": 1280
    },
    "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{site.url}}"
    },
    "description": "{{ page.description }}"
}
</script>
    {% assign timestamp = Time.now %}
    {% assign timestamp_formatted = timestamp | date: "%Y%m%d%H%M%S" %}
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css?v={{ timestamp_formatted }}">
  </head>
  <body>
  <section class="wrap">
  <section class="content">
    {% include header.html %}

    {{ content }}

  <hr/>
    {% include footer.html %}
  </section>
  </section>
    {% include scripts.html %}
  </body>
</html>
