<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>{{ page.title }} | nuclearpengy (Nathan Jeffery)</title>
    {% assign timestamp_formatted = site.time | date: "%Y%m%d%H%M%S" %}
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css?v={{ timestamp_formatted }}">
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
	
	{% include json-ld.html %}
  </head>
  <body>
  <section class="wrap">
  <section class="content">
    {% include header.html %}
    
    
    
    {{ content }}
    
    
  <hr/>
    {% include footer.html %}
  </section>
  </section>
    {% include scripts.html %}
  </body>
</html>
