<!DOCTYPE HTML>
<html lang="en">
<html>
  <head>
    <title>{{ page.title }}</title>
    {% assign timestamp = Time.now %}
    {% assign timestamp_formatted = timestamp | date: "%Y%m%d%H%M%S" %}
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css?v={{ timestamp_formatted }}">
  </head>
  <body>
  <section class="wrap">
  <section class="content">
    {% include header.html %}
    
    
    
    {{ content }}
    
    
  <hr/>
    {% include footer.html %}
  </section>
  </section>
    {% include scripts.html %}
  </body>
</html>
